<html>
  <head>
    <link rel="stylesheet" href="{{ 'milligram.css'|assets(true) }}" />
  </head>

  <body>
    <div class="container">
      <h1><a href="{{''|link}}">GenySite</a></h1>
      <p><i>Simple Site Generator</i></p>
      <p><small>v0.0.9</small></p>

      <div style="margin-top:50px">
        {% block content %}

        {% endblock %}
      </div>
  </body>
</html>
