{% extends 'template/layout.njk' %}

{% block content %}

<h2>Templating</h2>

<h3>Template Variables</h3>

<h3>Custom Filters</h3>

<h3>Custom Extension<h3>

<h4>Highlight Extension</h4>



{% endblock %}
