<html>
<head>
<link rel="stylesheet" href="{{ 'milligram.css'|assets(true) }}" />
</head>

<body>
<div class="container">
<h1><a href="{{''|link}}">Geny Plate</a></h1>
<p><i>Simple Test Site Generator</i></p>
<p><small>without version</small></p>

<div style="margin-top:50px">
{% block content %}

{% endblock %}
</div>
</body>
</html>
