{% extends 'template/layout.njk' %}

{% block content %}

<p>Welcome to the index page</p>

<p>You're in the development version, first commit</p>

<a href="{{ "getStarted.html"|link }}">Get Started</a>

{% endblock %}
