{% extends './base-layout.njk' %}

{% import "./base-layout.njk" as func %}

{% block head %}
  {{ super()  }}
  <link rel="stylesheet" href="{{ 'index.css'|assets(true) }}" />
{% endblock head %}

{% block basecontent %}
  <div class="hero">
    <div class="backdrop"></div>
    <div class="fronthero">
      <div>
        {% block hero %}

        {% endblock hero %}
        <div class="menu">
          {{ func.makeTree(tree) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
